# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
venv/
.env/

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/
htmlcov/
.coverage

# -----------------------------
# Allure Reports
# -----------------------------
allure-results/
allure-report/

# -----------------------------
# Test Reports & Screenshots
# -----------------------------
reports/
screenshots/

# -----------------------------
# IDE Files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log